@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 text-gray-900;
  transition: background 0.2s;
} 